@import "basicLayout.css";

.personaCard{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    font-size: 18px;
    display: inline-block;
    background-color: #1d7579;
    padding:5px;
    border:solid, white;
    border-radius: 5px;
}
.persona{
   
    max-width: 195px;
    max-height: 275px;
    border: solid, white;
    border-radius: 10px;
    display: block;
    margin: auto;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 238px;
    background-color: #555555;
    border-radius: 10px;
    background-color: #1d7579;
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin: 10px;
  }
  
  .title {
    color: grbey;
    font-size: 18px;
  }
  
  
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
.personaText{
    color: white;
    font-size: medium;
}

@media screen and (max-width: 1065px) {
    
    
}
@media screen and (max-width: 480px) {
    .card {
    max-width: 149px;
    }
    .persona{
        max-width: 130px;
        max-height: 180px;

    }
    .personaText{
        color: white;
        font-size: x-small;
    }
}