@import "basicLayout.css"; 
.content.main {
    width:75%;
    padding-left: 5%;
    padding-right: 5%;
  }
.newstext{
  text-align: justify;
}
.thumbnail{
  height:220px;
  width: 90%;
}
.video{
  display: flex;
  width: 90%;
  height: auto;
  min-height: 400px;
  margin: auto;

  border-radius: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
}



.video:focus{
  border-top: 10px solid red;
  border-bottom: 10px solid red;
}

.pinboardTitle{
 margin: auto;
 color: white;
}
.pinboard{
  padding: 5%;
  margin-right: 10%;
  margin-top: 10%;
  background: rgb(20, 80, 80);
  border: solid white;
  border-radius: 15px;
}
.pinboardLogo{
  width:80%;
  height:auto;
  float: left;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  border: rgb(20, 80, 80);
  border-radius: 90px;
  position: relative;
    left: 10%;
}
.pinboardText{
 display: block;
 color: white;
}

@media screen and (max-width: 1024px) {
  .content.header{
    font-size: medium !important;
  }
  article{
    font-size: small;
   
  }
  .video{
    width: 100%;
    min-height: 250px;
    
  }
}
@media screen and (max-width: 720px) {
  .content.header{
    font-size: small !important;
  }
  article{
    font-size: smaller;
   
  }
  .video{
    width: 60%;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .content.main {
    width:100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  article{
    font-size: small;
   
  }
  .pinboard {
    padding: 5%;
    margin-right: 10%;
    margin-top: 10%;
    background: rgb(20, 80, 80);
    border: solid white;
    border-radius: 15px;
    margin-left: 5%;
}
  .video{
    width: 100%;
    min-height: 200px;
  }
}