/*------Boxsizing----------*/
/*makes sure that the padding and border are included
 in the total width and height of all HTML elements.*/* {
  box-sizing: border-box;
  font-family: Verdana;
  line-height: 130%;
}


article{
  font-size: 19px;
  padding: 3px;
  margin-bottom: 5%;
  margin-top: 5%;
}

h2.content, h3.content, h4.content{
  color: rgb(20, 80, 80);
}

p a{
  color: black;
  text-decoration: none;
}

p a:hover{
  color: rgb(20, 100, 20);
}

/*------Logo----------*/
.headerBanner {
  width: 75%;
}
/*------Navbar----------*/
.headerNavBar{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.headerNavBar a{
    float: left;
    padding: 14px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
}
.headerNavBar a:hover {
    background-color: #ddd;
    color: black;
}

.headerNavBar a:focus {
  background-color: #ddd;
  color: black;
}

.headerNavBar a.active{
    background-color:rgb(20, 80, 80);
}

.headerNavBar a.active:hover{
  background-color: #ddd;
}

.headerNavBar a.active:focus{
  background-color: #ddd;
  color: black;
}

/*------General Content----------*/

/*  Content will be set next to each other */
.content {
    float: left;
  }
  /*  Main Content will use 75% of max width */
.content.main {
    width:50%;
  }
  .content.header{
    color: rgb(20, 80, 80);
    float: none !important;
    border-bottom: 2px solid rgb(20, 80, 80);
    width:90%;
     
  }

.main-container{
width: 80%;
}
.content.adsSide {
    width: 25%;
  }

.content.header{
    color: rgb(20, 80, 80);
    float: none !important;
    border-bottom: 2px solid rgb(20, 80, 80);
    width:90%;
    font-size: x-large;
  }

.content.highlightsHeadline{
    
    margin: 0px;
    font-size: larger;
    color: #000;
}  
  
.highlightsText{
    font-size: larger;
    font-weight: bold;
}

/*------ADS----------*/
.aboButton{
    display: block;
    border-radius: 8px;
    width: 80%;
    font-size: large;
    padding: 15px;
    background-color: rgb(20, 80, 80);
    color: white;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
  .aboButton:hover{
    color: black;
    background-color: #ddd;
    cursor: pointer;
    
  }
  .aboButton:focus{
    color: black;
    background-color: #ddd;
    cursor: pointer;
    
  }
  .adsImg{
   width:80%;
   height:auto;
   margin: auto;
   display: block;
   margin-top: 5%;
   margin-bottom: 5%;
  
  }

/*------Footer----------*/
footer{
    background-color: #545454;
    color: white;
    width: 100%;
    overflow: hidden;
  }
  footer a{
    padding: 20px;
    font-size: 16px;
    color: white;
    width: 15%;
    /* margin: auto; */
    float: left;
    text-align: center;
  }
  footer a:hover{
    background-color: #ddd;
    color: black;
  }

  footer a:focus{
    background-color: #ddd;
    color: black;
  }

  footer img{
    width: 15%;
    position: relative;
    
    float: right;
    margin-right: 20px;
  }


  /*------Responsive----------*/
@media screen and (max-width: 1024px) {
  article{
    font-size: 14px;
  }
    .headerNavBar a {
        float: left;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 14px;
        width: 25%;
        text-align: center;
        box-sizing: border-box;
      
    }
    .content.header{
      color: rgb(20, 80, 80);;
      float: none !important;
      border-bottom: 2px solid rgb(20, 80, 80);
      font-size: large;
      width:90%;
    }
    .h4{
        font-size: medium;
      }
      .aboButton{
        display: block;
        border-radius: 8px;
        width: 80%;
        font-size: SMALL;
        padding: 5px;
        background-color: rgb(20, 80, 80);;
        color: white;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        
      }

      
      footer a {
        padding: 13px;
        font-size: 12px;
    }
     
      footer img{
        width: 15%;
        position: relative;
        
        float: right;
        margin-right: 20px;
      }
      
    }
    @media screen and (max-width: 480px) {
      article{
        font-size: x-small;
        padding-left:5px;
      }
      p{
        font-size: x-small;
      }
      h1,h2,h3,h4{
        font-size: 10px;
      }
      

      .headerNavBar a {
        font-size: 10px;
    }
  
        .content.main{
          width: 65%;
          padding-left: 5px;
        }
        .content.header{
          font-size: smaller;
        }
        h2{
          font-size: large;
        }
        h4{
          font-size: small;
        }
          .content.adsSide{
            width: 100%;
            float: left;
          }
          .adsContainer{
            float: left;
            width: 100%;
          }
          .optionalHeader{
            display: none;
          }
          .aboButton{
            display: block;
            border-radius: 8px;
            width: 80%;
            font-size: SMALL;
            padding: 5px;
            background-color: rgb(20, 80, 80);
            color: white;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;
          }
        .adsImg{
            width: 27%;
            height: auto;
            margin: auto;
            margin-right: 3%;
            margin-left: 3%;
            display: block;
            float: left;
            margin-bottom: 10px;
        }

        footer a{
          padding: 10px;
          font-size: 10px;
          margin-right: 15px;
        }
    }
    @media screen and (max-width: 600px) {

      footer a{
       
        font-size: 6px;
        margin-right: 15px;
      }
      h4{
        font-size: small;
      }
      
      footer img{
       top:5px;
      }
      
    }

    