
@import "basicLayout.css"; 

/*------Boxsizing----------*/
/*makes sure that the padding and border are included
 in the total width and height of all HTML elements.*/
 .content.main{
  width:70%;
}


/*------Navbar----------*/


/*------ContentLayout---------*/
/*  Content will be set next to each other */


  /* Left and right column Newsletter and Ads  */
  

  /*  MainContent Middle Column */
 
  .newsletter.container{
    margin-left: 5%;
    margin-right: 5%;
  }
  .newsletter.text{
    width: 90%;
    font-size: 16pt;
    line-height: 130%;
    margin-bottom: 7%;
  }
  .input.container{
    box-sizing: border-box;
    margin: auto;
    align-items: center;
  }
  .input.element{
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 25%;
    height: 20%;
    font-size: 14pt;
  }
  input[type=submit] {
    FONT-WEIGHT: 100;
    display: block;
    border-radius: 8px;
    width: 40%;
    font-size: SMALL;
    padding: 10px;
    background-color: #1e7579;
    color: white;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  /* Clear floats after the columns */

/*------ADS---------*/






/*------Responsive----------*/
@media screen and (max-width: 1024px) {

    
    
}
  @media screen and (max-width: 480px) {

    .input.element{
      display: block;
      margin: auto;
      width: 100%;
      margin-top: 2%;
      margin-bottom: 2%;
  
      height: 20%;
      font-size: 10pt;
      
    }

    .content.main{
      width:100%;
    }
    .newsletter.text{
      width: 90%;
      font-size: 10pt;
      line-height: 130%;
      margin-bottom: 7%;
    }

     
    
     
}



