/*------Boxsizing----------*/
/*makes sure that the padding and border are included
 in the total width and height of all HTML elements.*/
 @import "basicLayout.css"; 


 .content.main{
   padding-left: 2%;
   width: 75%;
 }

 .content.main a{
  text-decoration: none;
  color:black;
 }

 .content.main a:hover{
  color: rgb(14, 180, 189);
}

.content.main article{
  float: left;
  margin: 1%;
  width: 48%;
  border-bottom: 1px solid rgb(29, 117, 121);
}

.content.main p,h4{
  padding: 1%;
}

.content.main img{
  float: right;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 1%;
  border-radius: 16px;
  width: 50%;
}

.content.topNews article{
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*------Responsive----------*/
@media screen and (max-width: 1260px) {
  
  .content.main img{
    width: 40%;
  }
    
    
  }

  @media screen and (max-width: 720px) {
  
    .content.main{
      width:100%;
    }

    .content.main img{
      width: 50%;
    }
    .content.main article{
      width: 98%;
    }   
    
  }

