/*------Boxsizing----------*/
/*makes sure that the padding and border are included
 in the total width and height of all HTML elements.*/
 @import "basicLayout.css"; 


 .content.main{
   padding-left: 2%;
   width: 75%;
 }

 .content.main a{
  text-decoration: none;
  color:black;
 }

 .content.main a:hover{
  color: rgb(14, 180, 189);
}

.content.main article{
  float: left;
  height: 350px;
  margin: 1%;
  width: 48%;
  border-bottom: 1px solid rgb(29, 117, 121);
}

.content.main p,h4{
  padding: 1%;
}

.content.main img{
  float: right;
  max-height: 250px;
  padding: 2%;
  border-radius: 16px;
  width: 50%;
}

.content.topNews article{
  height: 350px;
  overflow: hidden;
  padding-bottom: 2%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


  @media screen and (max-width: 720px) {
  
    .content.main{
      width:100%;
    }


    .content.main img{
      width: 50%;
    }

    .content.topNews article{
      height: 200px;
    }
    .content.main article{
      height: 200px;
      width: 98%;
    }   
    
  }

  @media screen and (max-width: 300px) {
    .content.main img{
      width: 0%;
    }

    .content.topNews article{
      height: 250px;
    }
    .content.main article{
      height: 250px;
    }
  }


