/*------Boxsizing----------*/
/*makes sure that the padding and border are included
 in the total width and height of all HTML elements.*/
 @import "basicLayout.css"; 

  /* Left and right column Newsletter and Ads  */
  .content.reviewAside {
    width: 25%;
  }
  

  /*Newsticker content*/
  .reviewlist {
    width: 100%;
  }
  .reviewlist.review{
    border-bottom: 1px solid rgb(20, 80, 80);
    font-size: smaller;
    color: black;
    text-decoration: none;
    width: 90%;
  }
  .reviewlist.reviewtext{
    font-size: 14px;
  }

  /* Review content*/

 .highlightImg{
   width:90%; 
   max-height: 600px;
   
  }
  .reviewTicker{
    width:100%;
  }

  .reviewTicker.review{
    border-bottom: 1px solid rgb(20, 80, 80);
    text-decoration: none;
    color: black;
  }
  .reviewTicker.text{
    text-align: left;
    font-size:small;
  }
  
  .reviewlist.review:hover{
    color: rgb(20, 100, 20);
    cursor:pointer
  }

  .reviewTicker.text.topTipp{
    width: 33%;
    font-size:19px;
    color: black;
    text-decoration: none;
  }

  .reviewTicker.header{
    text-align: left;
  }
  .newsHeader{
    font-size: 16px;
  }

  /*  Newsletterbar */
  .content.highlightsHeadline{
    
    margin: 0px;
    font-size: larger;
    color: #000;
  }

  .highlightsText{
    font-size: larger;
    font-weight: bold;
  }
  
/*------Responsive----------*/

  @media screen and (max-width: 720px) {

    .content.reviewAside {
      width: 95%;
  }
  .highlightImg {
    width: 90%;
    max-height: 350px;
  }
    .content.main{
      width:100%;
    }

    .main-container {
      width: 95%;
  }

    article{
      padding-left:5px;
    }
    .newsHeader {
      font-size: small;
  }
    .reviewlist.reviewtext {
      font-size: 12px;
}
    .reviewlist.text{
      text-align: left;
      font-size:small;
      
    }
    .reviewTicker.text.topTipp{
      font-size: 12px;
    }
    .content.reviewList {
        width: 30%;
      }
}


