/*------Boxsizing----------*/
/*makes sure that the padding and border are included
 in the total width and height of all HTML elements.*/
 @import "basicLayout.css"; 

  /* Left and right column Newsletter and Ads  */
  .content.reviewAside {
    width: 25%;
  }
  

  /*Newsticker content*/
  .reviewlist {
    width: 100%;
  }
  .reviewlist.review{
    border-bottom: 1px solid rgb(29, 117, 121);
    font-size: smaller;
    color: black;
    text-decoration: none;
    width: 90%;
  }
  .reviewlist.reviewtext{
    font-size: 14px;
  }

  /* Review content*/
  .reviewTicker{
    width:100%;
  }

  .reviewTicker.review{
    border-bottom: 1px solid rgb(29, 117, 121);
    text-decoration: none;
    color: black;
  }
  .reviewTicker.text{
    text-align: left;
    font-size:small;
  }
  
  .reviewlist.review:hover{
    color: rgb(29, 117, 121);
    cursor:pointer
  }

  .reviewTicker.text.topTipp{
    width: 33%;
    font-size:19px;
    color: black;
    text-decoration: none;
  }

  .reviewTicker.header{
    text-align: left;
  }
  .newsHeader{
    font-size: 16px;
  }

  /*  Newsletterbar */
  .content.highlightsHeadline{
    
    margin: 0px;
    font-size: larger;
    color: #000;
  }

  .highlightsText{
    font-size: larger;
    font-weight: bold;
  }
  
/*------Responsive----------*/
@media screen and (max-width: 1024px) {
   
    .newsticker.newstext, .sliderCaptiontext {
      font-size: 10px ;
    }
    
    .highlightContentSlides, .highlightHeaderSlides, .newsticker.newsHeader, .h3, .h2, .h1{
    
      font-size: 12px ;
    }
  }

  @media screen and (max-width: 480px) {

    .content.reviewAside {
      width: 95%;
  }

    .content.main{
      width:100%;
    }
    .main-container {
      width: 95%;
  }

    article{
      padding-left:5px;
    }
    .newsHeader {
      font-size: x-small;
  }
  .reviewlist.reviewtext {
    font-size: 9px;
}
    .reviewlist.text{
      text-align: left;
      font-size:xx-small;
    }
    .reviewTicker.text.topTipp{
      font-size: 12px;
    }
    .content.reviewTickerSide{
      padding-left: 5px;
    }
      .content.newstickerSide{
        width: 30%;
      }
      .newsticker.header{
        font-size: 12px;
      }
      .highlightContentSlides, .highlightHeaderSlides, .newsticker.newsHeader, .h3, .h2, .h1{
        font-size: 10px ;
      }
      .content.reviewList {
        width: 30%;
      }
}
