/*------Boxsizing----------*/
/*makes sure that the padding and border are included
 in the total width and height of all HTML elements.*/

* {
    box-sizing: border-box;
    font-family: Verdana;
  }

  h2.content, h3.content, h4.content{
    color: rgb(29, 117, 121);
  }

/*------Header----------*/
.headerBanner {
    width: 100%;
  }

/*------Navbar----------*/
.headerNavBar{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.headerNavBar a{
    float: left;
    padding: 14px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
}
.headerNavBar a:hover {
    background-color: #ddd;
    color: black;
}
.headerNavBar a.active{
    background-color:rgb(29, 117, 121);
}
/*------ContentLayout---------*/
/*  Content will be set next to each other */
.content {
    float: left;
  }
.content.header{
  color: rgb(29, 117, 121);
  float: none !important;
  border-bottom: 2px solid rgb(29, 117, 121);
  width:90%;
}

  /* Left and right column Newsletter and Ads  */
  .content.reviewList {
    width: 25%;
  }
  .content.adsSide {
    width: 25%;
  }

  /*  MainContent Middle Column */
  .content.main {
    width: 50%;
  }

  /* Review content Klassen */
  .content.reviewTickerSide{
    width: 80%
  }

  .content.reviewTickerSide a{
    color: black;
    text-decoration: none;
    width: 100%;
  } 

  .content.reviewTickerSide a:hover{
    color: rgb(15, 161, 168);
  }

  .content.reviewTicker.review{
    width: 100%;
  }

  /*Newsticker content*/
  .reviewlist {
    width: 90%;
  }
  .reviewlist.review{
    border-bottom: 1px solid rgb(29, 117, 121);
  }
  .reviewlist.reviewtext{
    font-size: 14px;
  }

  /* Review content*/
  .reviewTicker{
    width:100%;
  }

  .reviewTicker.review{
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 20px;
  }
  .reviewTicker.text{
    text-align: left;
    font-size:16px;
  }

  .reviewTicker.text.topTipp{
    width: 33%;
    font-size:16px;
  }

  .reviewTicker.header{
    text-align: left;
  }


  /*  Newsletterbar */
  .content.highlightsHeadline{
    
    margin: 0px;
    font-size: larger;
    color: #000;
  }

  .highlightsText{
    font-size: larger;
    font-weight: bold;
  }
  

/*------ADS---------*/
.aboButton{
  display: block;
  border-radius: 8px;
  width: 80%;
  height: -2%;
  font-size: large;
  padding: 15px;
  background-color: #1e7579;
  color: white;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.aboButton:hover{
  color: black;
  
}
.adsImg{
 width:80%;
 height:auto;
 margin: auto;
 display: block;
 margin-top: 5%;
 margin-bottom: 5%;

}
footer{
  background-color: #545454;
  color: white;
  width: 100%;
  overflow: hidden;
}
footer a{
  padding: 20px;
  font-size: 16px;
  color: white;
  width: 15%;
  /* margin: auto; */
  float: left;
  text-align: center;
}
footer a:hover{
  background-color: #ddd;
  color: black;
}
footer img{
  width: 15%;
  position: relative;
  
  float: right;
  margin-right: 20px;
}
/*------Responsive----------*/
@media screen and (max-width: 1024px) {

    .headerNavBar a {
        float: left;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 14px;
        width: 25%;
        text-align: center;
        box-sizing: border-box;
      
    }
    .content.header{
      color: rgb(29, 117, 121);
      float: none !important;
      border-bottom: 2px solid rgb(29, 117, 121);
      font-size: 12px;
      width:90%;
    }
    .newsticker.newstext, .sliderCaptiontext {
      font-size: 10px ;
    }
    
    .highlightContentSlides, .highlightHeaderSlides, .newsticker.newsHeader, .h3, .h2, .h1{
    
      font-size: 12px ;
    }
    .h4{
      font-size: medium;
    }
    .aboButton{
      display: block;
      border-radius: 8px;
      width: 80%;
      height: -2%;
      font-size: SMALL;
      padding: 5px;
      background-color: #1e7579;
      color: white;
      margin: auto;
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;
      
    }
    
  }
  @media screen and (max-width: 480px) {

      .content.main{
        width: 70%;
      }
      .content.newstickerSide{
        width: 30%;
      }
      .newsticker.newsHeader{
        font-size: 10px;
      }
      .highlightContentSlides, .highlightHeaderSlides, .newsticker.newsHeader, .h3, .h2, .h1{
    
        font-size: 10px ;
      }
      .content.adsSide{
        width: 100%;
        float: left;
      }
      .adsContainer{
        float: left;
        width: 100%;
      }
      .optionalHeader{
        display: none;
      }
      .aboButton{
        display: block;
        border-radius: 8px;
        width: 80%;
        height: -2%;
        font-size: SMALL;
        padding: 5px;
        background-color: #1e7579;
        color: white;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
      }
      .adsImg{
        width: 27%;
        height: auto;
        margin: auto;
        margin-right: 3%;
        margin-left: 3%;
        display: block;
        float: left;
        margin-bottom: 10px;
       }
}
