/*------Boxsizing----------*/
/*makes sure that the padding and border are included
 in the total width and height of all HTML elements.*/

* {
    box-sizing: border-box;
    font-family: Verdana;
  }

  h2.content, h3.content, h4.content{
    color: rgb(29, 117, 121);
  }

/*------Header----------*/
.headerBanner {
    width: 100%;
  }

/*------Navbar----------*/
.headerNavBar{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.headerNavBar a{
    float: left;
    padding: 14px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
}
.headerNavBar a:hover {
    background-color: #ddd;
    color: black;
}
.headerNavBar a.active{
    background-color:rgb(29, 117, 121);
}
/*------ContentLayout---------*/
/*  Content will be set next to each other */
.content {
    float: left;
  }
.content.header{
  color: rgb(29, 117, 121);
  float: none !important;
  border-bottom: 2px solid rgb(29, 117, 121);
  width:90%;
}


  
  /* Left and right column Newsletter and Ads  */
  .content.side {
    width: 25%;
  }
  /*Newsticker content*/
  .newsticker {
    width: 90%;
  }
  .newsticker.news{
    border-bottom: 1px solid rgb(29, 117, 121);
  }
  .newsticker.newstext{
    margin-top: -5px;
  }

  
  /*  MainContent Middle Column */
  .content.main {
    width: 50%;
  }
  .main-container{
    width: 80%;
  }

  .content.highlightsHeadline{
    
    margin: 0px;
    font-size: larger;
    color: #000;
  }

  .highlightsText{
    font-size: larger;
    font-weight: bold;
  }
  

/*--TopContentSlider---*/
 /* Slideshow container */
.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.highlightImgSlides {
  display: none;
}
.highlightHeaderSlides {
  display: none;
}
.highlightContentSlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* SliderShow Caption text */
.sliderCaptiontext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.sliderPaginationText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

  /* Clear floats after the columns */
.content:after {
    content: "";
    display: table;
    clear: both;
  }

/*------NewsTicker---------*/



/*------ADS---------*




/*------Responsive----------*/
@media screen and (max-width: 700px) {

    .headerNavBar a {
        float: left;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 14px;
        width: 25%;
        text-align: center;
        box-sizing: border-box;
      
    }
    .content.header{
      color: rgb(29, 117, 121);
      float: none !important;
      border-bottom: 2px solid rgb(29, 117, 121);
      font-size: 12px;
      width:90%;
    }
    .newsticker.newstext, .sliderCaptiontext{
      font-size: 10px ;
    }
    
    .highlightContentSlides, .highlightHeaderSlides, .h4, .h3, .h2, .h1{
    
      font-size: 12px ;
    }
    .h4{
      font-size: medium;
    }
}
