/*------Boxsizing----------*/
/*makes sure that the padding and border are included
 in the total width and height of all HTML elements.*/

* {
    box-sizing: border-box;
  }


/*------Header----------*/
.headerBanner {
    width: 100%;
  }

/*------Navbar----------*/
.headerNavBar{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.headerNavBar a{
    float: left;
    padding: 14px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
}
.headerNavBar a:hover {
    background-color: #ddd;
    color: black;
}
.headerNavBar a.active{
    background-color:rgb(64, 144, 74);
}
/*------ContentLayout---------*/
/*  Content will be set next to each other */
.content {
    float: left;
  }
  
  /* Left and right column Newsletter and Ads  */
  .content.side {
    width: 25%;
  }
  
  /*  MainContent Middle Column */
  .content.main {
    width: 50%;
    background-color: darkgrey;
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  

/*------NewsTicker---------*/



/*------ADS---------*




/*------Responsive----------*/
@media screen and (max-width: 500px) {

    .headerNavBar a {
        float: left;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        width: 25%;
        text-align: center;
        box-sizing: border-box;
      
    }
}
