/*------Boxsizing----------*/
/*makes sure that the padding and border are included
 in the total width and height of all HTML elements.*/
 @import "basicLayout.css"; 

/*------ContentLayout---------*/

  /* Newsticker */
  .content.newstickerSide {
    width: 25%;
  }
  /*Newsticker content*/
  .newsticker {
    width: 90%;
  }
  .newsticker.news{
    border-bottom: 1px solid rgb(20, 80, 80);
    text-decoration: none;
    color: black;
  }
  .newsticker.news:hover{
    
    color: rgb(20, 100, 20);
  }
  .newsticker.newstext{
    font-size: 14px;
  }
 
/*--TopContentSlider---*/
 /* Slideshow container */
.slideshow-container {
  
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.highlightImgSlides {
  display: none;
}

.highlightImgSlides img{
  max-height: 600px;
 
}

.highlightHeaderSlides {
  display: none;
}

.highlightContentSlides {
  display: none;
}


.highlightsText.highlightHeaderSlides{
  color: black;
  text-decoration: none;
}

.highlightsText.highlightHeaderSlides:hover{
  color: rgb(20, 100, 20);
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a white background color with a little bit see-through */
.prev:hover, .next:hover, .prev:focus, .next:focus {
  color:black;
  background-color: rgba(255, 255, 255, 0.8);
}

/* SliderShow Caption text */
.sliderCaptiontext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.sliderPaginationText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
  /* Clear floats after the columns */
.content:after {
    content: "";
    display: table;
    clear: both;
  }

/*------Responsive----------*/
@media screen and (max-width: 1024px) {
  
    .newsticker.newstext, .sliderCaptiontext {
      font-size: 10px ;
    }
    
    .highlightContentSlides, .highlightHeaderSlides, .newsticker.newsHeader, .h3, .h2, .h1{
    
      font-size: 12px ;
    }
    

    
    
  }
  @media screen and (max-width: 720px) {

    .newsticker {
      width: 95%;
  }
  .slideshow-container{
    width: 90%;
  }
      .content.main{
        width:100%;
      }
      .main-container {
        width: 95%;
    }
      .dot{
        height:10px;
        width: 10px;
      }

      .content.newstickerSide{
        width: 100%;
      }
      .newsticker.newsHeader{
        font-size: small;
      }
      .newsticker.newstext, .sliderCaptiontext {
        font-size: x-small ;
      }
}
